@{
  Layout ="_Layout";

}
@model HairSalon.Models.Client
<h1>Add a new Client</h1>
@using (BeginForm())
{
  @Html.LabelFor(model =>model.Name)
  @Htmal.TextBoxFor(model =>model.Name)
  @Html.LabelFor(model =>model.Wax)
  @Htmal.TextBoxFor(model =>model.Wax)
  @Html.LabelFor(model =>model.Massage)
  @Htmal.TextBoxFor(model =>model.Massage)
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <input type="Submit" value ="Register"/>
}


